*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popping', sans-serif;
}
.hero__section{
    background: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a{
    color: white;
    text-decoration: none;
}
 
.navbar__menu_container{
    display: flex;
    gap: 18px;
}

@media only screen and (max-width: 600px){
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80px;
    }
}
